@font-face {
    font-family: 'Inter Bold';
    src: url(./fonts/Inter-Bold.woff);
}

@font-face {
    font-family: 'Inter Regular';
    src: url(./fonts/Inter-Regular.woff);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.page {
    width: 880px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    position: relative;
}

.header {
    width: 100%;
    margin-top: 45px;
}

.header__image {
    width: 20%;
    padding-bottom: 41px;
}

.line {
    border-bottom: 1px solid #545454;
    opacity: .7;
}

.profile {
    width: 100%;
    margin-top: 40px;
    color: white;
    display: flex;
    position: relative;
}

.avatar {
    width: 14%;
    height: 100%;
    border-radius: 50%;
    margin-right: 26.25px;
    margin-left: 22.5px;
}

.profile__info {
    width: 48%;
    margin: 22px 0 24px;
    position: relative;
}

.profile__info_name {
    font-family: 'Inter-Bold';
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    display: flex;
}

.profile__info_profession {
    font-family: 'Inter-Regular';
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
}

/*Boton para abrir ventana*/
.profile__button {
    border: 1px solid white;
    background-color: black;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15px;
    margin-left: 10px;
}

.button-edit:hover {
    opacity: .7;
}

.profile-lapiz {
    width: 10px;
    height: 10px;
}

.profile__add {
    border: 1px solid white;
    width: 150px;
    height: 50px;
    position: absolute;
    top: 35px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.profile__add_symbol {
    width: 22px;
    height: 22px;
}

.elements {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 32.5%);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}

.elements__rectangle {
    width: 100%;
    background: white;
    border-radius: 10px;
}

.elements__image {
    width: 100%;
    height: 80%;
    margin: 0;
}

.elements__group {
    width: 88%;
    margin: 15px auto 31px;
    display: flex;
    padding: 0;
    position: relative;
}

.elements__subtitle {
    font-family: 'Inter-Bold';
    font-weight: 900;
    font-size: 24px;
}

.elements__group_vector {
    width: 21px;
    height: 19px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.footer {
    color: #545454;
    margin: 67px 0 60px;
}

.footer__copyright {
    font-family: 'Inter-Regular';
    font-weight: 400;
    font-size: 18px;
}

.edit-form {
    background: white;
    color: black;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, .15);
    border-radius: 15px;
    width: 430px;
    height: 330px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 25%;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s;
}

.open-form {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
}

.edit-form__title {
    font-family: 'Inter-Bold';
    font-weight: 900;
    font-size: 24px;
    width: 77%;
    margin: 34px auto 54px;
}

.edit-form__design {
    border: 0;
    width: 84%;
    height: 27px;
    margin: 0 auto 30px;
    padding-bottom: 5px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    font-size: 14px;
}

.edit-form__save {
    width: 358px;
    height: 50px;
    font-size: 18px;
    border: 0;
    margin: 0 auto 36px;
    cursor: pointer;
    transition: opacity .4s;
    background: black;
    color: white;
    font-family: inherit;
}

.close-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    right: -30px;
    top: -30px;
}

.edit-form__close {
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 540px) {
    .header {
        width: 25%;
        margin-top: 28px;
    }

    .header__image {
        width: 100%;
        margin: 28px auto 32px 27px;
        padding: 0;
    }

    .profile {
        width: 88%;
        margin: 42px auto 36px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .avatar {
        width: 43%;
        height: 42%;
        border-radius: 50%;
        margin: 0;
    }

    .profile__info {
        width: 100%;
        margin: 26px auto 36px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile__info_name {
        font-size: 3em;
    }

    .profile__info_profession {
        margin-top: 14px;
        font-size: 2em;
    }

    .profile__button {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 15px;
        right: 170px;
    }

    .profile__add {
        width: 100%;
        position: relative;
        margin-bottom: 40px;
    }

    .elements {
        width: 88%;
        margin-top: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin: auto;
    }

    .elements__group {
        width: 87%;
        margin: 40px auto 31px;
        display: flex;
        padding: 0;
        position: relative;
    }

    .elements__subtitle {
        font-size: 4em;
    }

    .elements__group_vector {
        width: 41px;
        height: 39px;
        position: absolute;
        right: 15px;
        top: 15px;
    }

    .footer {
        width: 88%;
        margin: 50px auto 36px;
    }

    .footer__copyright {
        font-size: 2em;
    }

    .edit-form {
        width: 90%;
        height: 70%;
        right: 40px;
        opacity: 0;
        pointer-events: none;
        align-items: center;
    }

    .edit-form__title {
        font-size: 2em;
        width: 84%;
    }

    .open-form {
        opacity: 1;
        pointer-events: unset;
        transition: opacity .4s;
    }

    .edit-form__design {
        margin: 22px auto 30px;
        font-size: 1em;
    }

    .edit-form__save {
        width: 84%;
        margin-top: 46px;
    }
}