.profile {
    width: 100%;
    margin-top: 40px;
    color: white;
    display: flex;
    position: relative;
}

@media screen and (min-width: 320px) and (max-width: 540px) {
    .profile {
        width: 88%;
        margin: 42px auto 36px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
}