.elements__trash {
  position: absolute;
  width: 18px;
  height: 19.3px;
  top: 18px;
  right: 15px;
  z-index: 1;
  cursor: pointer;
  background-image: url(/images/Trash.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}
