.macro__content{
  position: absolute;
  background-color: rgba(0, 0, 0, .6);
  align-items: center;
  justify-content: center;
  z-index: 5;
  width: 100%;
  display: none;
  transition: opacity .6s;
}

.macro__content img{
  width: 40vw;
  height: 75vh;
  border-radius: 20px;
}

@media screen and (min-width: 320px) and (max-width: 540px){
  .macro__content img{
    width: 75%;
    height: 55%;
    border-radius: 0;
  }
}
