/*Boton para abrir ventana*/
.profile__button {
  border: 1px solid white;
  background-color: black;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  position: relative;
  top: 40px;
}

@media screen and (min-width: 320px) and (max-width: 540px) {
  .profile__button {
    width: 24px;
    height: 24px;
    top: 25px;
  }
}
