.popup__title {
  font-family: 'Inter';
  font-weight: bold;
  font-size: 24px;
  width: 77%;
  margin: 34px auto 54px;
}

@media screen and (min-width: 320px) and (max-width: 540px) {
  .popup__title {
    font-size: 18px;
    width: 84%;
    margin: 34px auto 54px;
  }
}
