@font-face {
  font-family: 'Inter-Bold';
  src: url(/fonts/Inter-Bold.woff);
  src: url(/fonts/Inter-Bold.woff2);
}

@font-face {
  font-family: 'Inter';
  src: url(/fonts/Inter-Regular.woff);
  src: url(/fonts/Inter-Regular.woff2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}
